.action-button {
  width: 160px;
  height: 48px;
  background-color: #3040c4;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border-radius: 2px;
  border: none;
}

.audience-button {
  background-color: #fff;
  color: #3040c4;
  width: 100%;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  margin-top: 15px;
  margin-left: 0;

  @include for-large-up {
    width: 160px;
    margin-left: 10px;
    margin-top: 0px;
  }
}

.top-section {
  background-color: #f3c6bd;
}

.hide_desktop {
  @include for-large-up {
    display: none;
  }
}

.hide_mobile {
  @include for-large-down {
    display: none;
  }
}

img {
  max-width: 100%;
  overflow: clip;
  overflow-clip-margin: content-box;
}

button {
  cursor: pointer;
}