.customers {
  display: flex;
  flex-direction: column;

  @include for-large-up {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0 97px;
    flex-direction: row;
  }

  &_down {
    padding-bottom: 39px;

    @include for-large-up {
      padding: 35px 0 67px 0;
    }
  }

  &__row {
    display: flex;

    @include for-large-up {
      flex: 1;
      justify-content: space-around;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94px;
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;

    &:last-child {
      border-right: none;
    }

    @include for-large-up {
      border: none;
    }
  }

  &__logo {
    filter: brightness(0);
    max-width: 80%;

    @include for-large-up {
      max-width: 100%;
    }
  }
}
