.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  font-size: 18px;

  &__description {
    display: none;
    line-height: 26px;
    font-size: 18px;
    margin-top: 26px;
    width: 360px;
    color: rgba(43, 41, 45, 0.6);

    @include for-large-up {
      display: block;
    }
  }

  &__line {
    border-top: 1px solid #2b292d;
    width: 100%;
    opacity: 0.1;
    margin: 0;
    margin-top: 40px;

    @include for-large-up {
      margin-top: 42px;
    }
  }

  .logo {
    @include for-large-down {
      display: none;
    }
  }
}

.about-company {
  margin-top: 40px;

  @include for-large-up {
    margin-top: 0;
  }
}

.footer-navigation {
  margin: 0;
  display: flex;
  flex-direction: column;

  @include for-large-up {
    width: 1140px;
    margin: 0 auto;
    height: 338px;
    flex-direction: row;
  }
}

.downloads {
  margin: 32px 6px 0 15px;
  display: flex;
  justify-content: center;

  @include for-large-up {
    margin: 0;
    margin-top: 30px;
    justify-content: left;
  }

  &__item {
    margin-right: 10px;
  }
}

.additional-navigation {
  display: flex;
  flex-direction: column;
  margin: 30px 15px 0 15px;

  @include for-large-up {
    margin: 60px 226px 47px 126px;
    flex-direction: row;
  }

  &__column {

    &_company {
      margin-top: 25px;

      @include for-large-up {
        margin-top: 0;
      }
    }

    @include for-large-up {
      margin-right: 29px;
      margin-top: 0;
    }
  }
}

.nav-links {
  width: 265px;

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #2b292d;
    margin: 0;

    @include for-large-up {
      margin-top: 41px;
    }
  }
  &__list {
    list-style-type: none;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
    padding: 0;
    margin: 0;
    margin-top: 17px;
  }

  &__item {
    margin-bottom: 6px;
  }

  &__link {
    text-decoration: none;
    color: rgba(43, 41, 46, 0.6);
  }
}

.footer-links {
  margin-left: 15px;
  display: flex;
  flex-direction: column;

  @include for-large-up {
    height: 50px;
    width: 1140px;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
  }
}

.terms {
  font-size: 14px;
  margin: 25px 0 0 0;

  @include for-large-up {
    line-height: 50px;
    margin: 0;
  }
  &__items {
    text-decoration: none;
    color: #2b292d;
    opacity: 0.6;
    margin-right: 15px;
  }
}

.social-links {
  margin-left: 0;
  margin-top: 33px;

  @include for-large-up {
    margin-top: 0;
    margin-left: auto;
  }

  &__item {
    margin-right: 14px;

    @include for-large-up {
      width: 21px;
      height: 16px;
      margin: 0 0 0 12px;
    }
  }
}

