.logo {
  display: flex;

  @include for-large-up {
    padding: 2px 0 0 10px;
  }
  
  &__image {
    height: 48px;
    width: 48px;
    
    @include for-large-up {
      margin-right: 15px;
      height: 60px;
      width: 60px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
  }

  &__description {
    display: none;

    @include for-large-up {
      display: block;
      font-size: 18px;
      line-height: 25px;
      opacity: 0.6;
    }
  }

  &_footer {
    @include for-large-down {
    display: none;
    }  
  }
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-large-up {
    display: none;
  }

  &__image {
    width: 60px;
    height: 60px;

    @include for-large-up {
      margin-right: 15px;
    }
  }

  &__name {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
  }

  &__description {
    color: #2b292d99;
    font-size: 18px;
    line-height: 25px;
  }
}