.logo {
  display: flex;
  margin-bottom: 2px;

  @include for-large-up {
    max-height: 60px;
    margin-bottom: 0;
  }
  
  &__image {
    height: 48px;
    width: 53px;
    margin-right: 8px;
    
    @include for-large-up {
      margin-right: 13px;
      height: 60px;
      width: 60px;
    }
  }

  &__text {
    margin: 12px 2px 5px 0;
    display: flex;
    flex-direction: column;

    @include for-large-up {
    margin: 5px 0;
    }
  }

  &__name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
  }

  &__description {
    display: none;

    @include for-large-up {
      display: block;
      line-height: 25px;
      opacity: 0.6;
    }
  }

  &_footer {
    @include for-large-down {
    display: none;
    }  
  }
}

/* Footer Mobile */

.logo-vertical {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-large-up {
    display: none;
  }

  &__image {
    width: 66px;
    height: 60px;
    margin-right: -5px;
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-top: 20px;
  }
  &__description {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
  }
}