.order {
  padding: 50px 15px;
  background-color: #f4f5f7;
  text-align: center;

  @include for-large-up {
    padding: 72px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }  

  &__illustration {
    max-width: 200px;

    @include for-large-up {
      margin-right: 122px;
      padding: 0 45px;
    }
  }

  &__title {
    margin: 0;
    margin-top: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;

    @include for-large-up {
      // height: 48px;
    }
  }

  &__text {
    margin: 0;
    margin-top: 18px;
    font-size: 22px;
    line-height: 32px;
    text-align: left;
  }

  &__form {
    margin-top: 79px;
    
    @include for-large-up {
      padding-top: 26px;
      display: flex;
    }
  }

  &__email {
    width: 100%;
    height: 48px;
    text-align: center;
    border: 1px solid #2b292d33;
    border-radius: 2px;
    font-size: 18px;
    line-height: 14px;

    @include for-large-up {
      margin-top: 0;
      text-align: left;
      padding-left: 15px;
    }

    &::placeholder {
      color: #2b292d;
    }
  }

  &__button {
    margin-top: 12px;

    @include for-large-down {
      width: 100%;
    }

    @include for-large-up {
      margin-top: 0;
      margin-left: 10px;
      flex-shrink: 0;
    }
  }

  &__terms {
    margin: 0;
    margin-top: 10px;
    color: #2b292e99;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
  }

  &__terms-link {
    color: #3142c6;
  }
}
